<!doctype html>
{% load static %}
<html>
<head>
<meta charset="gbk">
<title>首页_沈刚个人博客 - 一个测试人员的个人博客网站</title>
<meta name="keywords" content="个人博客,沈刚个人博客" />
<meta name="description" content="沈刚个人博客，做一个积极向上的测试人员。" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="{% static 'css/base.css' %}" rel="stylesheet">
<script src="{% static 'js/jquery.min.js' %}" type="text/javascript"></script>
<script type="text/javascript" src="{% static 'js/comm.js' %}"></script>
<!--[if lt IE 9]>
<script src="{% static 'js/modernizr.js' %}"></script>
<![endif]-->
</head>
<body>
    <div style="position:absolute;right:20px;top:5px">
        {% if user.is_authenticated %}
            <a id="logout" title="退出" href="{% url 'logout' %}">{{ user.username }}</a>
        {% endif %}
    </div>
<embed src="{% static 'music/XuJiaying_LostSands.mp3' %}"  width="0" height="0" loop=“-1” autostart="True"></embed>
<header>
  <div class="profile">
    <div class="avatar fl"><img src="{% static 'images/mark.jpg' %}"></div>
    <div class="guanzhu fl">
      <ul>
        <li><img src="{% static 'images/nianling.png' %}"><span>
          <script language="javascript">
 function   ages(str)   
  {   
        var   r   =   str.match(/^(\d{1,4})(-|\/)(\d{1,2})\2(\d{1,2})$/);     
        if(r==null)return   false;     
        var   d=   new   Date(r[1],   r[3]-1,   r[4]);     
        if   (d.getFullYear()==r[1]&&(d.getMonth()+1)==r[3]&&d.getDate()==r[4])   
        {   
              var   Y   =   new   Date().getFullYear();   
              return("年龄   "+   (Y-r[1])   +"   周岁");   
        }   
        return("日期格式错误！");   
  }   
  document.write(ages("1986-06-03"));
  
</script></span></li>
        <li><img src="{% static 'images/weizhi.png' %}"><span>中国·四川·成都</span></li>
        <li><img src="{% static 'images/qq.png' %}"><span>QQ：670349669</span></li>
        <li><img src="{% static 'images/weixin.png' %}"><span><img src="{% static 'images/wx_ggshen.jpg' %}"></span></li>
      </ul>
    </div>
    <div class="username">Baby的小家</div>
  </div>
  <nav>
    <ul id="starlist">
      <li><a href="{% url 'index' %}">我的小家</a></li>
      <li><a href="{% url 'list' %}">我的博文</a></li>
      <li><a href="{% url 'share' %}">我的相册</a></li>
      <li><a href="{% url 'infopic' %}">视频</a></li>
      <li><a href="{% url 'time' %}">微记录</a></li>
      <li><a href="{% url 'about' %}">关于我</a></li>
    </ul>
  </nav>
</header>
<article>
  <main class="r_box">
    <div class="newsview">
        <div class="container">
            <div class="row">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h1 style="text-align: center">个人简历</h1>
                    </div>

                    <h2 id="basic_info">个人信息</h2>
                    <table class="content" cellpadding="5" cellspacing="5" width="1000">
                        <tr>
                            <td id="name"> 姓  名: 沈  刚</td>
                            <td id="sex"> 性  别: 男</td>
                        </tr>
                        <tr>
                            <td id="birthday"> 出生日期: 1986-6-3</td>
                            <td id="residence"> 居住地: 成都-双流区-东升</td>
                        </tr>
                        <tr>
                            <td id="working_age"> 工作年限: 9年</td>
                            <td id="email"> 电子邮箱: ggshen50@163.com</td>
                        </tr>
                        <tr>
                            <td> 手 机: 18581618026</td>
                        </tr>
                    </table>

                    <h2 id="self_introduce">自我介绍</h2>
                    <div class="content">
                        <p>1、	6年软件测试经验，熟悉Web测试方法与流程；熟悉敏捷开发流程、DevOps流程、华为IPD流程。</p>
                        <p>2、	熟悉Python编程，能够熟练编写python代码，熟悉基于自动化测试及框架搭建；熟悉RF运行原理，自己封装业务使用的关键字</p>
                        <p>3、	熟悉Linux系统、常用命令及shell</p>
                        <p>4、	数据库的基本增删改查、连表、分组、排序等操作</p>
                        <p>5、	熟悉接口功能测试、性能测试，熟练运用jmeter输出性能测试报告</p>
                        <p>6、	了解安全测试，熟悉常用安全扫描工具使用与配置，了解常见安全测试方法</p>
                        <p>7、	了解Web前端基础与原理，了解html\css\js </p>
                        <p>8、	熟悉excel vba编程，参与项目vbs文档系统基础脚本开发，负责维护项目的需求管理vba模板</p>
                    </div>

                    <h2 id="work_experience">工作经验</h2>
                    <div class="content">
                        <div>
                            <p>2019 /3—Now：软通动力科技服务有限公司</p>
                            <p>部门：无线实施部</p>
                            <p>岗位：软件测试工程师</p>
                            <p>主要工作：自动化测试框架搭建、自动化工程维护与调试、底层方法编写与优化，测试用例联调、执行&用例优化。安全测试用例执行，产品安全送检环境搭建与报告输出。</p>
                        </div>
                        <HR style="FILTER: progid:DXImageTransform.Microsoft.Glow(color=#987cb9,strength=10)" width="100%" color=#987cb9 SIZE=1>

                        <div>
                            <p>2015 /12—2019 /2：中软国际科技服务有限公司</p>
                            <p>部门：2012实验室</p>
                            <p>岗位：软件测试工程师</p>
                            <p>主要工作：Web系统测试、测试方案用例编写、测试执行、自动化用例编写、测试工具编写。</p>
                        </div>
                        <HR style="FILTER: progid:DXImageTransform.Microsoft.Glow(color=#987cb9,strength=10)" width="100%" color=#987cb9 SIZE=1>

                        <div>
                            <p>2013 /9—2015 /10： 中兴通讯股份有限公司（西安）</p>
                            <p>部门：西安研究所 </p>
                            <p>岗位：软件测试工程师</p>
                            <p>主要工作：中兴微波近端调试软件PNMT测试，支撑二线进行现场用户问题处理。</p>
                        </div>
                        <HR style="FILTER: progid:DXImageTransform.Microsoft.Glow(color=#987cb9,strength=10)" width="100%" color=#987cb9 SIZE=1>

                        <div>
                            <p>2010 /7--2013 /6： 四川通信建设工程有限公司</p>
                            <p>部门：海外事业部 </p>
                            <p>岗位：无线通信工程师</p>
                            <p>主要工作：	华为GSM、UMTS无线设备开通调试，包括BSC\RNC开通，基站开通，升级、扩容、网络改造等；华为微波设备调试等。</p>
                        </div>
                    </div>

                    <h2 id="project_experience">项目经验</h2>
                    <div class="content">
                        <div>
                            <p>2019 /3 – Now：鼎桥通讯EPT基站项目</p>
                            <p>项目描述：专网基站产品测试项目，包括eNB530、DSA等基站产品需求与特性验证。</p>
                            <p>责任描述：1.负责专网基站项目自动化工作。负责自动化框架维护与优化；自动化接口对接与调试，框架基于第三方接口调用的底层方法编写与二次封装；培训和支撑业务人员自动化用例编写，自动化环境维护；自动化环境接入自动化工厂、接入jenkins持续集成工具等。</p>
                            <p class="project_response">2.2.	协助开发项目需要的提高测试效率的工具，比如升级参数对比工具，excel数据验证工具等。</p>
                            <p class="project_response">3.3.	协助完成产品安全测试，包括安全用例执行，安全扫描，安全文档编写，安全送检环境搭建，安全自动化框架搭建与用例编写等。</p>
                        </div>
                        <HR style="FILTER: progid:DXImageTransform.Microsoft.Glow(color=#987cb9,strength=10)" width="100%" color=#987cb9 SIZE=1>

                        <div>
                            <p>2017 /10 – 2019 /2：ALM海思与终端芯片研发流程管理项目</p>
                            <p>项目描述：ALM是华为终端产品项目交付生命周期管理系统，包括需求、开发、测试、度量、缺陷跟踪与处理等。</p>
                            <p>责任描述：1.负责ALM Web系统测试，基于手工的月度迭代测试，包括参与需求澄清、测试方案与测试要点编写、需求反串讲、测试用例编写、测试执行、缺陷提单与跟踪、测试回归等。</p>
                            <p class="project_response">2.负责自动化测试环境（tomcat+Jenkins+git）搭建与维护、自动化用例（python unittest+selenium）编写与稳定性&效率调优，实现迭代开发后基于修改模块的基础功能的自动化验证，主导项目测试团队自动化实现与交付。</p>
                            <p class="project_response">3.负责基于jmeter的性能测试、功能测试。</p>
                            <p class="project_response">4.维护需求管理Excel VBA模板，模板性能优化；编写Excel VBA数据对比工具，提升测试效率与质量。</p>
                        </div>
                        <HR style="FILTER: progid:DXImageTransform.Microsoft.Glow(color=#987cb9,strength=10)" width="100%" color=#987cb9 SIZE=1>

                        <div>
                            <p>2016 /9 -- 2017 /9： JAD测试设计项目</p>
                            <p>项目描述：	JAD测试设计项目是为了解决运营商测试设计到用例生成过程中效率低、质量不可靠问题的自动化测试项目。JAD系统是个Web应用系统，包括利用大数据平台分析用户场景数据用于生成测试场景，根据产品版本、测试基线、测试策略模板等信息生成测试策略与用例等。</p>
                            <p>责任描述：1.	负责Web系统测试，使用Python selenium自动化框架，完成python unittest完整测试框架搭建与自动化测试用例编写；</p>
                            <p class="project_response">2.参与系统安全测试，包括基于Nmap的端口扫描工具，基于Appscan、Burpsuite的Web安全扫描，基于NGS的数据库漏洞扫描工具，SQL注入攻击、Fuzz攻击测试等。</p>
                            <p class="project_response">3.英文化测试，负责系统英文翻译正确性、合理性的初步验证。</p>
                            <p class="project_response">4.参与JAD DocOnline在线文档管理系统开发，完成底层vbs脚本开发。</p>
                        </div>
                        <HR style="FILTER: progid:DXImageTransform.Microsoft.Glow(color=#987cb9,strength=10)" width="100%" color=#987cb9 SIZE=1>

                        <div>
                            <p>2015 /12 -- 2016 /8： DFX项目</p>
                            <p>项目描述：DFX平台是2012实验室为了解决华为各产品线从产品设计、开发、测试过程中信息互通、自动化能力缺失，而开发的产品研发过程拉通，自动化能力提升的项目。</p>
                            <p>责任描述：1.负责DFX Web平台测试工作，包含需求对齐、测试策略与方案设计、用例编写、用例执行、结果回归等。</p>
                            <p class="project_response">2.负责基于华为用例管理系统TMSS插件Autospace的自动化用例编写。</p>
                            <p class="project_response">3.负责使用故障注入工具RasFire完成服务器故障注入测试。</p>
                            <p class="project_response">4.负责基于华为自研性能测试工具xStorm/NTE的性能测试。</p>
                        </div>
                        <HR style="FILTER: progid:DXImageTransform.Microsoft.Glow(color=#987cb9,strength=10)" width="100%" color=#987cb9 SIZE=1>

                        <div>
                            <p>2013 /9 -- 2015 /10： PNMT项目</p>
                            <p>项目描述：中兴微波近端调试软件PNMT工具测试，包含工具数据配置、数据下发、工具易用性等测试</p>
                            <p>责任描述：1.PNMT功能测试，包括测试环境搭建，根据需求说明书，验证PNMT数据配置功能是否正常，数据下发是否成功，数据下发效率是否满足要求，工具是否容易使用等。</p>
                            <p class="project_response">2.PNMT近端调试Web页面测试，包括参与需求评审与对齐、测试方案设计、测试用例编写、用例执行、缺陷管理、版本验证等。</p>
                            <p class="project_response">3.配合二线支撑完成一线业务支撑与问题处理。</p>
                        </div>

                    <h2 id="education_experience">教育经历</h2>
                    <div class="content">
                        <p>学校：西华大学</p>
                        <p>时间：2006 /9 -- 2010 /6 </p>
                        <p>专业：信息与计算科学</p>
                        <p>学历：本科</p>
                    </div>

                    <h2 id="language">语言能力</h2>
                    <div class="content">
                        <p>英语等级：CET-6</p>
                    </div>

                </div>
            </div>
        </div>

    </div>
  </main>
  <aside class="l_box">
    <div class="wdxc">
      <h2>我的相册</h2>
      <ul>
        <li><a href="{% static 'images/photo/001_BabiesBefore_20180823.jpg' %}" title="BabiesBefore_20180823" ><img src="{% static 'images/photo/001_BabiesBefore_20180823.jpg' %}"></a></li>
        <li><a href="{% static 'images/photo/002_TwoAngelsBirth_20180824.jpg' %}" title="TwoAngelsBirth_20180824"><img src="{% static 'images/photo/002_TwoAngelsBirth_20180824.jpg' %}"></a></li>
        <li><a href="{% static 'images/photo/003_YunyanSleep_20180825.jpg' %}" title="YunyanSleep_20180825"><img src="{% static 'images/photo/003_YunyanSleep_20180825.jpg' %}"></a></li>
        <li><a href="{% static 'images/photo/004_LuoyiSleep_20180825.jpg' %}" title="LuoyiSleep_20180825"><img src="{% static 'images/photo/004_LuoyiSleep_20180825.jpg' %}"></a></li>
        <li><a href="{% static 'images/photo/005_YunyanMakeFace_20181111.jpg' %}" title="YunyanMakeFace_20181111"><img src="{% static 'images/photo/005_YunyanMakeFace_20181111.jpg' %}"></a></li>
        <li><a href="{% static 'images/photo/006_LuoyiRockingChair_20181118.jpg' %}" title="LuoyiRockingChair_20181118"><img src="{% static 'images/photo/006_LuoyiRockingChair_20181118.jpg' %}"></a></li>
      </ul>
    </div>

    <div class="search" style="width:300px; height:35px; background: rgba(255,204,51, 0.0)">
        <form method="get" action="/search/">
          {% csrf_token %}
          <input type="search" name="search" style="width:220px; height:30px; font-size: 100%" placeholder="请输入关键字" required>
          <button type="submit" style="width:60px; height:30px; font-size: 100%">搜索</button>
        </form>
    </div>

    <div class="fenlei">
      <h2>文章分类</h2>
      <ul>
        <li><a href="{% url 'list' %}">我的博文（{{ count_article }}）</a></li>
        <li><a href="{% url 'share' %}">我的相册（{{ count_photo }}）</a></li>
        <li><a href="{% url 'infopic' %}">视频（{{ count_video }}）</a></li>
        <li><a href="{% url 'time' %}">微记录（{{ count_mini_record }}）</a></li>
      </ul>
    </div>
    <div class="tuijian">
      <h2>最近更新</h2>
      <ul>
        <li><a href="{% static newest_article_path %}" title="{{ newest_article_title_zh }}">{{ newest_article_title_zh }}</a></li>
      </ul>
    </div>
    <div class="tuijian">
      <h2>点击排行</h2>
      <ul>
        <li><a href="{% static top_article_path %}" title="{{ top_article_title_zh }}">{{ top_article_title_zh }}</a></li>
      </ul>
    </div>
  </aside>
</article>
<footer>
  <p>Made by <a href="{% url 'index' %}" target="_blank">沈刚</a> <a href="{% url 'index' %}">蜀ICP备19007191号</a></p>
</footer><a href="#" class="cd-top">Top</a>
</body>
</html>
